
.signup{
  position: relative;
  top: 150px;
  color: #efb204;
}

.form{
  border: solid;
  border-color: #efb204;
  border-width: 8px;
  font-family: sans-serif;
  position: relative;
  z-index: 1;
  background: black;
  opacity: 80%;
  max-width: 500px;
  margin: 200px auto 100px;
  padding: 10px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0,0.24);
  border-radius: 10px;
}

.form p{
  font-size: 15px;
  padding: 1px;
  text-align: center;
}

.form input {
  outline: 0;
  border-radius: 10px;
  background: #efb205;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input:hover{
  background-color: silver;
  transition: all is ease .5s;
}

.form input:focus{
  background-color: silver;
  transition: all is ease .5s;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  border-radius: 10px;
  background: Black;
  text-decoration-color: #efb204;
  width: 100%;
  border: 0;
  padding: 15px;
  color: ghostwhite;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus{
  background-color: #efb204;
  transition: all is ease 0s;
}

.form .message {
  margin: 15px 0 0;
  color: ghostwhite;
  font-size: 12px;
}

.form .message a{
  color: #efb204;
  text-decoration: none;
  font-size: 20px;

}

.form .message a:hover{
  background-color: ghostwhite;
}

::placeholder{
  color: Black;
  text-align: center;
}